h1{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
h4{
    background-color: black;
    color: aliceblue;
}
body{
     background-color: rgb(253, 245, 235);
}
th,p{
    color: rgb(0, 0, 0);
}




body{
    background: linear-gradient(to right,  rgb(25, 174, 233),rgb(155, 223, 255));
}